#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  padding-top: auto;
}

#container strong {
  font-size: 4vw;
  line-height: 3vw;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.custom-header {
  --background: #ffffff;
  padding-top: 20px;
  /* Fondo blanco */
}

.logo-center {
  text-align: center;
}

.logo-image {
  height: 50px;
  /* Ajusta el tamaño del logotipo según tus preferencias */
}

.separator-line {
  height: 1px;
  background-color: #000;
  /* Color de la línea de separación */
  width: 100%;
}


#container-dataTittles {
  text-align: center;
  margin-bottom: 20px;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  gap: 15px;  
}

.data-card {
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  --ion-card-background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.icon-container {
  background-color: #0B3A34;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-icon {
  font-size: 20px;  
  color: white;
}

svg {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

ion-card-title {
  background-color: #0B3A34; 
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0;
}

.card-content {
  background-color: white;
  color: #333;
  padding: 10px 5px;
}

.data-value {
  font-size: 24px;
  color: #0B3A34;
  font-weight: bold;
  margin: 5px 0;
}

.data-range {
  font-size: 12px;
  color: #0B3A34;
  margin: 0;
}

